@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro reiciendis vitae ea dolore, mollitia, voluptatum quas sapiente sunt officia molestias maiores sed, vel id! Aperiam maxime esse alias vero nam.</p>
</div>
